<div class="dijitInline" tabindex="-1" role="presentation">
    <!-- To reuse styling of content area we wrap into a div that include content area class -->
    <div class="rlm-content-area-editor" data-dojo-attach-point="container">
        <div data-dojo-attach-point="itemsContainer"></div>
        <div data-dojo-attach-point="actionsContainer" class="epi-content-area-actionscontainer">
            <span>
                <a class="epi-visibleLink" data-dojo-attach-point="actionCreateNewItem" data-dojo-attach-event="click: _onCreateNewItemClick">create a new item</a>
            </span>
            <!--<div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onButtonClick" data-dojo-attach-point="button" data-dojo-props="label:'...'"></div>-->
        </div>
    </div>
</div>