<div class="dijitInline" tabindex="-1" role="presentation">
    <!-- To reuse styling of content area we wrap into a div that include content area class -->
    <!--<div class="rlm-content-area-editor" data-dojo-attach-point="container">
        <div data-dojo-attach-point="itemsContainer"></div>
        <div data-dojo-attach-point="actionsContainer" class="epi-content-area-actionscontainersss">
            <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onCreateNewItemClick" data-dojo-attach-point="button" data-dojo-props="label:'create a new item'"></div>
        </div>
    </div>-->

    <div class="rlm-content-area-editor" data-dojo-attach-point="container">
        <div class="command-area"><div data-dojo-attach-point="commandTargetNode"></div></div>
        <div data-dojo-attach-point="gridNode"></div>
    </div>
</div>